* {
    padding: 0;
    margin: 0;
}

body {
    padding: 50px;
    background-color: black;
    color: #fff6;
    font-family: sans-serif;
}

#content {
    margin-top: 30px;
}

span {
    font-size: 60px;
}
