* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.3em;
}

body {
    background-color: #333;
    color: #fff;
}

#chat-container {
    width: 300px;
    height: 100vh;
    padding: 10px;
    background-color: #8884;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
}

#chat-container * {
    display: flex;
}

label {
    opacity: 0.7;
    font-size: 0.85em;
}

.chat-username {
    height: 25px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
}

.chat-username > input {
    border-radius: 3px;
    border: 1px solid #666;
    padding: 5px;
}

.chat-username > #usercolor {
    width: 20px;
    height: 20px;
    background-color: #0088FF;
    border-radius: 13px;
    border: 1px solid #666;
    font-size: small;
}

.chat-messages, .chat-newmessage {
    flex-direction: column;
    margin-top: 20px;  
    padding: 0px 0px;
}

.chat-newmessage {
    height: 90px;
}

.chat-messages {
    height: calc(100% - 150px);
    overflow: scroll;
}


textarea#newmessage {
    padding: 5px;
    margin-top: 5px;
    width: 100%;
    resize: none;
    border-radius: 3px;
    border: 1px solid #666;
}

.message {
    flex-direction: column;
    margin-top: 5px;
    padding: 8px;
    max-width: 90%;
    background-color: #08f;
    border-radius: 0px 10px 10px 10px;
    margin-left: 0; 
    margin-right: auto;
}

.message.own {
    background-color: #097;
    border-radius: 10px 0px 10px 10px;
    margin-left: auto; 
    margin-right: 0;
}

.message.own * {
    justify-content: right;
    text-align: right;
}

.message > .header {
    font-size: 0.85em;
    font-weight: 300;
    opacity: 0.6;
}




