* {
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button {
    height: 50px;
    width: 25vw;
}

.button.blue {
    background-color: blue;
}