* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    background-color: white;
    color: #000;
    font-family: sans-serif;
    font-size: 12px;
}

.left-container {
    width: 300px;
    height: 100vh;
    background-color: #FFF5E1;
}


.info {
    background-color: #FFDFA1;
    padding: 15px;
    margin-bottom: 15px;
}

#paletten-info {
    background-color: #FFF5E1;
    margin-bottom: 20px;
    left: 25px;
    top: 300px;

}

#brushes {
    padding: 20px;
}

.brush > img {
    width: 100%;
}


.status {
    /*height: 30px;*/
    background-color: #FFDFA1 ;
    padding: 15px;
    margin-bottom: 20px;
    /* vertical-align: center; */
    left: 25px;
    bottom: 100%;
    
}


.grid-container {
    display:flex;
    height:100vh;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 5px);
    grid-gap: 0px;
    grid-auto-rows: minmax(15px, auto);
}

.cell {
    border: 1px solid #0004;
    background-color: white;
}
