* {
    padding: 0;
    margin: 0;
}

body {
    padding: 50px;
    background-color: #07f;
    color: #fff;
    font-family: monospace;
    font-size: 16px;
}

#content {
    margin-top: 30px;
}

span {
    font-size: 60px;
}
