* {
    padding: 0;
    margin: 0;
}

body {
    padding: 50px;
    background-color: #eec;
    color: #000;
    font-family: sans-serif;
    font-size: 20px;
}

.status {
    /*height: 30px;*/
    margin-bottom: 20px;
    vertical-align: center;
}

.inline {
    display: inline-block;  
}

#playcolor {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 10px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-gap: 5px;
    grid-auto-rows: minmax(50px, auto);
}

.cell {
    border: 1px solid #0004;
    background-color: white;
}